@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&family=Noto+Serif:ital,wght@0,700;1,400&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    text-decoration: none;
}

.cabecalho {
    position: relative;
    background-color:#242424;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;

}

.cabecalho-menu-itens {
    font-family: 'Raleway', sans-serif;
    color: #FFFAFA;
    font-size: 25px;
    font-weight: 500;
}






